  
$eatQuad: rgb(247, 10, 10);
$eatButton:white;
$eatButtonText: black;
$playQuad: gold;
$playButton: lavender;
$playButtonText: rgb(97, 0, 97);
$fightQuad: orange;
$fightButton: blue;
$fightButtonText:black;
$sleepQuad: rgb(130, 218, 253);
$sleepButton: rgb(38, 194, 255);
$sleepButtonText: rgb(0, 60, 100);

$background: blue;
