@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./colors";
@import "./mixins";

body {
  background-color: $background;

  #app {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-template-rows: 53% 53%; 
    grid-column-gap: 1%;
    grid-row-gap: 3%;
    grid-template-areas: 
    "eat play"
    "fight sleep";
  }
}

.Title {
  text-align: center;
  font-family: 'Lobster', cursive ;

}
